@model QuickFrame.Security.Areas.Security.Models.UserListModel
@{
	Layout = "_PopupLayout";
}
<form action="@Url.Action(Model.Action, Model.Controller, new { area = Model.Area })" method="post">
	<div class="col-md-6">
		<label for="UserId"></label>
		<div>
	<select asp-for="UserId"

			data-url="@Url.Action("GetUsers", "Users", new { area="Security", filter = Model.Filter })"
			data-id="id"
			data-text="displayName"></select>
		</div>
	</div>
	<div class="col-md-6">
		@Html.Partial("FormButtons")
	</div>
</form>