@model UploadRuleEditDto
@{
	ViewBag.Title = "Rules";
	Layout = "_PopupLayout";
}
<form qf-form>
    <div asp-validation-summary="All" class="text-danger"></div>
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="Description" />
	<input type="hidden" asp-for="FileExtensionId" />
	<input type="hidden" asp-for="FileHeaderPatternId" />
	<input type="hidden" asp-for="MimeTypeId" />
	<input type="hidden" asp-for="IsAllow" />
	<input type="hidden" asp-for="Name" />
	<div class="container">
		<div class="col-md-6">
			<label asp-for="Priority"></label>
			<div>
				<input type="number" asp-for="Priority" class="form-control" />
			</div>
		</div>
		<div class="col-md-6">
			<label asp-for="Name"></label>
			<div>
				<label>@Model.Name</label>
			</div>
		</div>
		@Html.Partial("FormButtons");
	</div>
</form>

@section scripts {
}