@model UserListModel
@{ 
	Layout = "_PopupLayout";
}
<form qf-form>
	<input type="hidden" asp-for="ReturnController" />
	<input type="hidden" asp-for="ReturnAction"  />
	<div class="col-md-6">
		<label for="UserId"></label>
		<div>
	<select asp-for="UserId"
			
			data-url="@Url.Action("GetUsers", "Accounts", new { filter = Model.Filter })"
			data-id="userId"
			data-text="displayName"></select>
		</div>
	</div>
	<div class="col-md-6">
		@Html.Partial("FormButtons")
	</div>
</form>