@model CreateStartModel
@{
	ViewBag.Title = "File Extension";
	Layout = "_PopupLayout";
}
<form qf-form enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
	<div class="container">
		<input asp-for="AttachmentCreationType" type="radio" value="AttachmentCreationType.UploadNew" /> Upload new attachment
		<input asp-for="AttachmentCreationType" type="radio" value="AttachmentCreationType.UploadRevision" /> Upload document revision
		<input asp-for="AttachmentCreationType" type="radio" value="AttachmentCreationType.AttachNew" /> Attach new document
		<input asp-for="AttachmentCreationType" type="radio" value="AttachmentCreationType.AttachRevision" /> Attach document revision
		@Html.Partial("FormButtons");
	</div>
</form>