<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <environment names="Development">
        <script src="~/js/jquery-bundle.js"></script>
		<script src="~/js/closeOnSubmit.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/js/jquery-bundle.min.js"></script>
		<script src="~/js/closeOnSubmit.min.js"></script>
    </environment>
	<environment names="Testing">
        <script src="~/js/jquery-bundle.js"></script>
		<script src="~/js/closeOnSubmit.js"></script>
    </environment>
</body>
</html>