<div style="clear: both; margin: 10px;" class="col-50">
    <input type="submit" class="btn btn-sm btn-primary" />
    <button type="button" onclick="$.closeAndRefreshParent()" class="indent-15 btn btn-sm btn-default closebutton">Cancel</button>
</div>