@{
    var usePaging = false;
    var useSearch = false;
    bool.TryParse(ViewData["usePaging"]?.ToString(), out usePaging);
    bool.TryParse(ViewData["useSearch"]?.ToString(), out useSearch);
}
<!DOCTYPE html>
<html ng-app="asmt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASMT - @ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="/css/site-bundle.css" />
        <link rel="stylesheet" href="~/css/Site.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="/css/site-bundle.min.css" />
        <link rel="stylesheet" href="~/css/Site.min.css" />
    </environment>
</head>
<body>
    @RenderBody()
    <environment names="Development">
        <script src="/js/jquery-bundle.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment names="Production">
        <script src="/js/jquery-bundle.min.js"></script>
        <script src="~/js/main.min.js"></script>
    </environment>
    @RenderSection("scripts", false)
</body>
</html>